@charset "utf-8";

// 中间banner图
.banner-t ul {
    li {
        opacity: 0;
        display: none;
    }
    .show{
        opacity: 1;
        display: list-item;
    }
}

// 箭头
.banner-t {

    .lt,
    .gt {
        width: 60px;
        height: 60px;
        background-color: #fff;
        opacity: 0.55;
        line-height: 58px;
        position: absolute;
        text-align: center;

        a {
            font-size: 48px;
            color: #59585a;
        }
    }

    .lt {
        left: 0;
        top: 197px;
    }
    .gt {
        right: 0;
        top: 197px;
    }

}


.banner-b {
    ul {
        display: block;
        overflow: hidden;

        li {
            float: left;
            margin-left: 5px;
            width: 138px;
            height: 54px;
            opacity: 1;
            display: block;
            
        }
        .focus{
            opacity: .7; 
        }
    }
}
