@charset "utf-8";
// 中间banner图
.banner-t ul {
    li {
        display: none
    }
}


.banner-b {
    ul{
        display: block;
        overflow: hidden;
        li {
            float: left;
            margin-left: 5px;
            width: 138px;
            height: 54px;
            opacity: 0.7;
            display: block;
        }
    }
}