@charset "utf-8";

$box-color100:#f4f4f4; //背景
$box-color200:#d71d32;
$box-color300:#8e8e8e;
$box-color400:#86bf4a;
$box-color500:#eaeceb;
$box-color600:#3a3a3a;

#header {

    position: relative;
}

.wraper {
    width: 1150px;
    margin: 0 auto;

}
// 图标背景图
#header .icon{
    background-image: url(../img/touxiang.png);
    background-size: 123px 122px;
    width: 16px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}

#header .icon-hamburger{
    background-position: -19px -86px;
}
.icon-bottom{
    background-position: -64px -86px; 
}
.icon-biao{
    background-position: 0 -86px;
}
.icon-shoucang{
    background-position: -107px -44px;
}
.icon-xiaoxi{
    background-position: -107px -65px;
}
.icon-kehu{
    background-position: -107px -44px;
}
.icon-guanzhu{
    background-position: -107px -44px;
}
.icon-shouji{
    background-position: 0 -108px;
}
.icon-zhapian{
    background-position: -107px -22px;
}
.xian{
    width: 0;
    margin-top: 11px;
    margin-right: 12px;
    height: 14px;
    float: left;
    border-left: 1px solid #dcdcdc;
}
.header-s-r .da{
    background: url(../img/search.png) no-repeat 50%;
    width: 78px;
    height: 28px;
    float: right;
    border: none;
    cursor: pointer;
}


#header .header-t {
    height: 32px;
    background-color: $box-color100;
    line-height: 32px;
    font-size: 12px;



    .header-t-l {
        //左边
        float: left;
        
        ul{
            position: absolute;
            display: none;
            width: 170px;
            top: 32px;
            margin-left: -5px;
            background-color: #f4f4f4;
            padding: 20px 0 20px 20px;
            z-index: 1000;
a{
    color: #9196a0;
    font-size: 14px;
}
        }

    }


    .header-t-m {
        float: left;
        padding-left: 20px;
        a {
            color: #d71d32;
            
        }
    }

    //右边
    .header-t-r {
        float: right;

        ul li {
            float: left;
            padding-right: 10px;

            a {
                color: $box-color300;
            }

            .greed {
                color: $box-color400;
            }

            .red {
                color: $box-color200;
            }

        }
    }
}

/* 网站头部中*/
.header-s {
    height: 100px;
    position: relative;

}

//头部中部 左边
.header-s-l {

    position: absolute;
    bottom: 0;

}

.header-s-l ul {
    vertical-align: top;
    padding-top: 45px;

    h5 {
        font: inherit;
    }

    .yingwen {
        color: $box-color300;
        font-size: 12px
    }

    .diyi {
        background-color: $box-color600;

        h5 {
            color: $box-color100;

        }
    }
}

.header-s-l ul li {
    float: left;
    text-align: center;
    padding: 8px 22px 5px;
    cursor: pointer;
    font-size: 16px;
}

// 头部中部 中间logo图
.header-s-m {
    position: absolute;
    left: 550px;
    top: 30px;
    cursor: pointer;
}

.header-s-m .logo {
    background: url(https://cdn.yoho.cn/yohobuy-node/6.9.11/img/layout/logo-en.png?16eb60a015e) no-repeat 50%;
    width: 182px;
    height: 53px;

}

// 头部中部右边




.header-s-r {
    font-size: 12px;
    position: absolute;
    top: 50px;
    left: 800px;

    form input {
        width: 320px;
        height: 28px;
        box-sizing: border-box;
        display: inline-block;
        outline: none;
    }

    .da {
        position: absolute;
        background-color: $box-color600;
        width: 100px;
        height: 28px;
        text-align: center;
        color: white;
        line-height: 28px;
        right: 0;
    }

    ul li {
        float: left;
        padding-right: 16px;
        line-height: 20px;

        a {
            color: $box-color300;
        }
    }
}

// 头部下部
.header-b {
    background-color: $box-color600;
    height: 40px;
    line-height: 40px;

}

.header-b ul li {
    line-height: 40px;
    padding-right: 46px;
    box-sizing: border-box;
    margin-right: 36px;
    display: inline-block;
    cursor: pointer;

    a {
        color: #fff;
        font-size: 14px;
        line-height: 14px;

    }
}

