#detial .detial-left {
    width: 420px;
    height: 560px;
    background-color: black;
    float: left;
}

#detial .detial-middle {
    width: 200px;
    height: 560px;
    background-color: blue;
    float: left;
}
#detial .detial-right{
    float: left;
}